/** {
  margin: 0;
  padding: 0;
}*/
html{
  height: 100%;
}
body {
  color: white;
  height: 100%;
  width: 100%;
  font-family: BubbleGum;
  font-size: 40px;
  background-color: lightBlue;
  display: table;
  -webkit-text-stroke: 1px darkGrey;
  text-align: center;
}
hr {
  margin: 8px 16px;
}
#container {
  height: 100%;
  width: 100%;
  border-width: 100px;
  border-color: black;
  text-align: center;
  display: table;
  background-image: url('canvas.png');
  background-size: 66%;
  background-position: top right;
  background-repeat: no-repeat;
  padding-left: 2%;
  padding-top: 1%;
  padding-right: .5%;
}
#container > div {
  height: 100%;
}
.row {
  margin: 0;
  height: 18px;
  border-width: 0;
}
.tile {
  margin: 0px;
  height: 16px;
  width: 16px;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  border-style: solid;
  vertical-align: top;
  display: inline-block;
}
h1{
  margin: 0;
}
a, a:visited {
  color: white;
}
#divGrid{
  padding-top: 8.3%;
  padding-bottom: 6%;
}
#divCanvas{
  text-align: center;
  display: table-cell;

}
#divCurrentCol {
  height: 20px;
  width: 150px;
  margin-left: 250px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  background-color: Green;
  display: table;
}
#spanCurrentCol {
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}
#happyCol {
    max-width: 500px;
    height: 50%;
    margin: 0 auto;
}
#happyCol> div {
    border: 1px solid white;
    border-radius: 50%;
    padding: none;
}
#happyCol {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-gap: 0px;
    grid-auto-rows: 5px;
}
#divyellow{
  grid-column: 19 / 22;
  grid-row: 24;
}
#divpink{
  grid-column: 23 / 26;
  grid-row: 22;
}
#divred{
  grid-column: 27 / 30;
  grid-row: 22;
}
#divgreen{
  grid-column: 30 / 33;
  grid-row: 25;
}
#divteal{
  grid-column: 33 / 36;
  grid-row: 29;
}
#divblue{
  grid-column: 35 / 38;
  grid-row: 35;
}
#divpurple{
  grid-column: 36 / 39;
  grid-row: 43;
}
#divwhite {
  grid-column: 36 / 39;
  grid-row: 52;
}
#divblack{
  grid-column: 34 / 37;
  grid-row: 59;
}
.palette-color {
  height: 30px;
  /*width: 30px;*/
  margin: 1px;
  border-width: 2px;
  border-style: solid;
  border-radius: 90%;
}
#divColorSelect {
  width: 500px;
  text-align: center;
  vertical-align: top;
  display: table-cell;
  background-image: url('bobR.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#divPaintArea {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
